# Mac OS X
.DS_Store
# Eclipse IDE
/target
/bin
/.project
/.classpath
/.settings
# Spring Roo
/log.roo
# Credentials
/src/main/resources/META-INF/spring/database.properties
/src/main/resources/META-INF/sql/user.xml
